 #btnPostAds {
     float: right;
 }

 #jobAdsList {
     float: left;
     width: auto;
     height: 700px;
     padding: 10px;
 }

 #jobAdsList ul li {
     width: 700px;
     height: 100px;
     background-color: rgb(66, 103, 178);
     color: #fff;
     font-size: 16px;
     padding: 10px;
     border-bottom: 1px solid #FFF;
 }


 .jobTitle {
     float: left;
     padding-bottom: 10px;
 }

 .jobId {
     float: right;
     padding-bottom: 10px;

 }

 .jobPeriod {
     clear: left;
     float: left;
     padding-bottom: 10px;
 }

 .jobStart {
     font-size: 16px;
 }

 .jobEnd {
     font-size: 16px;
 }

 .jobDetail {
     clear: right;
     float: right;
     background-color: #FFF;
     width: auto;
     height: 28px;
     padding: 3px 4px 4px 4px;
     border-radius: .25rem;
 }
 
 .btnApplyManagement {
     margin-right: 5px;
     float: right;
     width: 160px;
     
 }

 

 .btnJobDetail {
  
     float: right;
     width: 160px;
 }

 .sljobStatus {
     clear: right;
     float: right;
     margin-bottom: 5px;
 }

 .jobApplyerQty {
     float: right;
     margin-right: 50px;
 }

 