#menuOptions {
    width: 960px;
    height: 40px;
    padding: 10px;
}

#mainContent {
    width: 960px;
    height: 700px;
    padding: 10px;
    background-color: #CCC;
    /* border-left: 5px solid rgb(66, 103, 178);*/
}
#menuOptions ul li {
    width: 180px;
    height: 25px;
    float: left;
    background-color: rgb(66, 103, 178);
    color: #fff;
    font-size: 18px;
    padding: 10px;
    margin-right: 2px;
    border-bottom: 2px solid #CCC;
}

#menuOptions ul li:hover {
    background-color: #365899;
}

#topOptions {
    float: right;
    background-color: #FFF;
    width: auto;
    height: 28px;
    padding: 6px 8px 8px 8px;
    border-radius: .25rem;

}
