* {
    margin: 0;
    padding: 0;
    border: 0px;
    font-family: helvetica, Arial, sans-serif;
}

th,
td {
    text-align: left;
    vertical-align: top;
}

a {
    color: #000;
    text-decoration: none;
}

#siteLogo a,a:hover,a:link,a:visited,a:visited {
    color: #FFF;
}

a:hover {
    color: #000;
    text-decoration: none;
}

a:link {
    color: #000;
}

a:visited {
    color: #000;
}

a:visited {
    color: #000;
}

ul {
    list-style: none
}

.wrapper {
    width: 100%;
    height: 100%;
}

body,
html {
    width: 100%;
    height: 100%;
}


.header {
    width: 980px;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    color: #FFF;
    background-color: rgb(66, 103, 178);
    margin-bottom: 10px;
}

.main {
    border-top: 5px solid rgb(66, 103, 178);
    width: 980px;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    padding-top: 5px;
    margin-bottom: 10px;
}

hr {
    width: 100%;
    margin-top: 2px;
    margin-bottom: 2px;
    border-bottom: 2px solid #CCC;

}

.footer {
    width: 980px;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    padding-top: 5px;
    margin-bottom: 10px;
}

h1 {
    font-size: 36px;
    font-weight: 600;

}

h2 {
    font-size: 28px;
    font-weight: 400;
}

h3 {
    font-size: 20px;
    font-weight: 400;
}

p,
span,
label {
    font-size: 14px;
    font-weight: 400;
}


input[type="checkbox"] {}

input[type="radio"] {}

input[type="file"] {}


select,
input[type="email"],
input[type="image"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="range"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
    border: 1px solid #6495ED;
    border-radius: .25rem;
    height: 28px;
    min-width: 170px;
    font-weight: normal;
    font-size: 14px;
}

button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    min-width: 85px;
    display: inline-block;
    padding: 6px 12px 6px 12px;
    color: #fff;
    background-color: rgb(66, 103, 178);
    border-color: #29487d;
    font-size: 14px;
    font-weight: 400;
    border-radius: .25rem;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    width: auto;
    border: 1px solid #29487d;
    margin-bottom: 2px;
}

#topOptions {
    float: right;
    background-color: #FFF;
    width: auto;
    height: 28px;
    padding: 6px 8px 8px 8px;
    border-radius: .25rem;

}

button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
    color: #fff;
    background-color: #365899;
    border: 1px solid #29487d;
}

#myapply,#profile,#logout{
    display: none;
}
