     .adsItem {
         cursor: pointer;
         width: 280px;
         height: auto;

     }

     .adsItem:hover {
         background-color: #888;

     }

     #adsLists {
         float: left;
         width: 280px;
         background-color: #CCC;
         height: 750px;
         overflow: auto;
     }

     #adsListDetail {
         float: left;
         width: 700px;
         background-color: #AAA;
         height: 750px;
         overflow: auto;

     }
     #adsTitle{
         text-align: center;
     }
     #companyName{
         
     }
     