<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
    
        // post data to server, update the item
        function updateFavourite(id, obj) {
            var name = $(obj).parent('.favourites').children(".fName").val();
            var rating = $(obj).parent('.favourites').children(".fRating").val();
            var area = $(obj).parent('.favourites').children(".fArea").val();
            var address = $(obj).parent('.favourites').children(".fAddress").val();

            var url = 'https://cde305-ngchungpang.c9users.io/app/favourite/update';
            var json = JSON.stringify({
                fid: id,
                name: name,
                rating: rating,
                area: area,
                address: address

            });
            $.ajax({
                type: "post",
                url: url,
                async: false,
                data: json,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(data) {
                    alert(data.message);
                }
            });
        }
        // post data to server, delete the item
        function deleteFavourite(id) {
            var url = 'https://cde305-ngchungpang.c9users.io/app/favourite/delete';
            var json = JSON.stringify({
                fid: id,

            });
            $.ajax({
                type: "post",
                url: url,
                async: false,
                data: json,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(data) {
                    alert(data.message);
                    if (data.status) {
                        location.reload();
                    }
                }
            });
        }
    </script>
    <style type="text/css">
    </style>
    <title>Sample</title>
</head>

<body>
    <div class="header">
        <a href="./index">
            <h1>Online Restaurants Map</h1>
        </a>
        <h2>My Favourite Restaurants</h2>
        <button onclick="location.href = './logout';">logout</button>

    </div>
    <div class="main">

        <div id="list">


            <h1>favourite list</h1>
            <hr>


            <%results.forEach(function(data){ %>
                <div class="favourites">
                    name : <input type="text" class="fName" value='<%=data.name%>' /> rating : <input type="text" class="fRating" value='<%=data.rating%>' /> area : <input type="text" class="fArea" value='<%=data.area%>' />
                    <br>address : <textarea class="fAddress" type="text" />
                    <%=data.address%>
                        </textarea>
                        <button onclick="updateFavourite('<%=data.id%>',this)">update</button>
                        <button onclick="deleteFavourite('<%=data.id%>')">Delete</button>

                </div>
                <hr>

                <% }); %>

        </div>
    </div>

</body>

</html>
