<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
        //search method for search restaurants for each area
        function search() {

            var area = $("#area").val();
            alert(area);
            var url = 'https://cde305-ngchungpang.c9users.io/restaurants?area=' + area;
            $.ajax({
                type: "GET",
                url: url,
                //data: data,
                success: function(data) {
                    console.log(data);
                    alert(data);
                    alert(data.status);

                },
                dataType: "json"

            });
        }
        //post method to add the favourite item
        function addFavourite(rid) {
            var url = 'https://cde305-ngchungpang.c9users.io/app/favourite/insert';
            var json = JSON.stringify({
                rid: rid
            });
            $.ajax({
                type: "post",
                url: url,
                async: false,
                data: json,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(data) {
                    alert(data.message);

                }

            });
        }
    </script>
    <style type="text/css">
    </style>
    <title>Sample</title>
</head>

<body>
    <div class="header">
        <a href="./index">
            <h1>Online Restaurants Map</h1>
        </a>
        <%if (ustatus){%>
            <h3>Wellcome
                <%=uInfo%> !</h3>
            <%}%>
                <%if(!ustatus){%>
                    <button onclick="location.href = './sign';">Sign in & Sign up</button>
                    <%}else{%>
                        <button onclick="location.href = './logout';">logout</button>
                        <button onclick="location.href = './favourite';">My favourite</button>
                        <%}%>
    </div>
    <div class="main">
        <form action='./index' method='get'>
            <br><label for="">Search Area :</label></label><input type="text" id="area" name='area' value="Yau Tong" />
            <input type="submit" value="Search" />
        </form>
    </div>

    <div id="list">
        <h1>Restaurants List</h1>
        <hr>
        <% if (status){if (results.count>0){%>
            <% results.results.forEach(function(data){ %>
                <div>
                    Name : <input type='text' readonly value="<%=data.name %>" /> | Rating: <input type='text' readonly value="<%=data.rating%>" /> | Area: <input readonly type='text' value="<%=data.area%>" /> | lng: <input readonly type='text' value="<%=data.lng%>"
                    /> | lat: <input readonly type='text' value="<%=data.lat%>" /><br> Address : <textarea readonly><%=data.address %></textarea>
                    <% if(ustatus){%><button readonly onclick="addFavourite('<%=data.id%>')">ADD</button>
                        <%}%>
                </div>
                <hr>
                <% });}else{ %>
                    <h2>Sorry! No any restaurants information!</h2>
                    <% }}%>

    </div>

</body>

</html>
